<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Finding UPV Pets</title>
    <link rel="stylesheet" href="/static/css/style.css">    
</head>
<body>
  <header>
    <h1>UPV Pet Finder</h1>
    <p>Helping volunteers locate campus pets faster</p>
  </header>
  <div class="menu">
    <a href="/report" class="card report">
      <h3>📝 Report a Sighting</h3>
      <p>Add a new pet sighting</p>
    </a>
    <a href="/search" class="card search">
      <h3>🔍 Find a Pet</h3>
      <p>Locate pets using predictions</p>
    </a>
  </div>
</body>