<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Finding UPV Pets: Report Sighting</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/report.css">
</head>

<body>
    <!-- pop up window for choosing pet -->
    <div id="pet-modal" class="modal-overlay hidden">
        <div class="modal-window">
            <div class="modal-header">
                <h2>Select a UPV pet</h2>
                <a href="#" id="close-modal-btn" class="close">&times;</a>
            </div>
            <div class="modal-body">
                <div class="pet-display">
                    {% for id, pet in pets.items() %}
                        <div class="pet-select-card" onclick="selectPet('{{ pet.name }}', '{{ pet.photo }}')">
                            <img src="{{ url_for('static', filename=pet.photo.replace('../', '')) }}" alt="{{ pet.name }}">
                            <p>{{ pet.name }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


    <div class="form-card">
        <h2>📝 Report a Sighting</h2>
        <div class="pet-section">
            <label for="pet">The Spotted UPV Pet</label>
            <div class="selected-pet-form-display">
                <div class="selected-pet-details">
                    <p>No pet selected</p>
                </div>
            </div>
        
            <input type="hidden" id="selected-pet-name" name="pet">
            <p>Intruction: Check out the photos and let us know who you spotted!</p>
            <a href="#" class="open-popup-btn" onclick="openModal(); return false;">Choose</a>
        </div>

        <div class="location-section">
            <select id="location">
                <option value="" disabled selected>-- Select a Spot --</option>

                {% for l in locations.locations %}
                <option value="{{ l }}">{{ l }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="time-section">
            <label><b>Select Time(s) Seen:</b></label>
            {% for t in times.time %}
                <label for="{{ t }}">
                <input type="checkbox" name="timeRange" value="{{ t }}" id="{{ t }}">
                {{ t }}
                </label>
            {% endfor %}
        </div>

        <button type="button" onclick="submitReport()">Submit</button>
    </div>

    <footer>
        <a href="/" class="back-btn">← Go Back</a>
    </footer>

    <script src="../static/js/app.js"></script>
    <script src="../static/js/report.js"></script>
</body>