<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Finding UPV Pets: Searching</title>
    <link rel="stylesheet" href="/static/css/style.css">    
</head>
<body>
    <div class="form-card">
        <h2>Looking for...?</h2>
        
        <!-- make the options dynamic -->

        <form id="searchForm">
            <!-- <label>Select Pet:</label> -->
            <select id="pet">
                <option>Select a Pet</option>
                <option>Blackie</option>
            </select>

            <!-- <label>Time Range:</label> -->
            <select id="time">
                <option>Select a Time Range</option>
                <option>7AM - 9:59AM</option>
                <option>10AM - 12:59PM</option>
            </select>

            <button type="button" onclick="searchPet()">Search</button>
        </form>
    </div>

    <div id="results"></div>

    <footer>
        <a href="/" class="back-btn">← Go Back</a>
    </footer>

    <script src="/static/js/app.js"></script>
</body>